In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Half Moon Bay,US,37.4636,-122.4286,99.88,14,0,19.57
1,1,Port Alfred,ZA,-33.5906,26.8910,64.06,86,100,15.37
2,2,Florianopolis,BR,-27.6146,-48.5012,65.35,98,75,6.91
3,3,Bluff,NZ,-46.6000,168.3333,48.79,73,3,4.07
4,4,Luanda,AO,-8.8368,13.2343,68.00,83,75,4.61

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Bathsheba,BB,13.2167,-59.5167,81.21,83,40,12.66
12,12,Lorengau,PG,-2.0226,147.2712,84.09,70,100,7.27
13,13,Tura,IN,25.5198,90.2201,81.43,74,53,4.09
15,15,Salalah,OM,17.0151,54.0924,82.49,89,75,11.50
16,16,Hamilton,US,39.1834,-84.5333,79.99,68,0,1.01
26,26,Itoman,JP,26.1247,127.6694,86.77,81,20,11.50
28,28,Howard Springs,AU,-12.4970,131.0470,82.98,51,51,14.23
30,30,Tsagan Aman,RU,47.5639,46.7218,76.44,39,69,6.15
31,31,Pozo Colorado,PY,-23.4923,-58.7972,71.22,61,63,3.44
34,34,Kapaa,US,22.0752,-159.3190,82.38,79,20,13.80

In [16]:
preferred_cities_df.count()

City_ID       251
City          251
Country       251
Lat           251
Lng           251
Max Temp      251
Humidity      251
Cloudiness    251
Wind Speed    251
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
6        Bathsheba      BB     81.21  13.2167  -59.5167
12        Lorengau      PG     84.09  -2.0226  147.2712
13            Tura      IN     81.43  25.5198   90.2201
15         Salalah      OM     82.49  17.0151   54.0924
16        Hamilton      US     79.99  39.1834  -84.5333
26          Itoman      JP     86.77  26.1247  127.6694
28  Howard Springs      AU     82.98 -12.4970  131.0470
30     Tsagan Aman      RU     76.44  47.5639   46.7218
31   Pozo Colorado      PY     71.22 -23.4923  -58.7972
34           Kapaa      US     82.38  22.0752 -159.3190

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
     
    except (IndexError):
            
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df['Hotel Name'].unique()

array(['Atlantis Hotel', 'Lorengau Harbourside Hotel',
       'Hotel RIKMAN Continental',
       'HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel',
       'Six Acres Bed & Breakfast',
       'Southern Beach Hotel & Resort Okinawa', 'buffalo beach hostel',
       'Tirupathi', 'Hospedaje La Norte√±a',
       'Sheraton Kauai Coconut Beach Resort', 'Hilo Hawaiian Hotel',
       'Hampton Inn & Suites Jamestown', 'People ThankYou',
       'Keleti Beach Resort', 'Scoop Guest House', 'Gostinitsa "Sever"',
       'Hotel Edi', 'ÿµÿßÿ≠ÿ®ÿ© ÿßŸÑŸÅÿÆÿßŸÖÿ©', 'Taung Hlay Khar',
       'Kemping "Turist"', 'Gulisitan Hotel', 'The Explorer Hotel',
       'Penginapan Kim', 'Osprey Beach Hotel', 'APEPDCL',
       'H√©bergement de la Poste', 'Yarada Jungle Beach Resorts',
       'SanBiz Lodge', '7 Makara Hotel', 'Talnakh Hotel', "Apel'sin",
       'Hotel West', '', 'Hotel Wixel', 'Hospitality Carnarvon',
       'Best Western Kodiak Inn And Convention Center', 'Cititel Penang',
       'Paradise Inn', 'Isles Sunset Lodge', 'Grand Kecubung Hotel',
       'Achit Nuur Hotel & Restaurant',
       'RedDoorz Syariah near Taman Berlabuh Tarakan',
       'Quality Inn & Suites Gallup I-40 Exit 20', 'Pasportnyy Stol',
       'Broadway Inn Missoula', 'Moon light Furnished Units',
       'Thisara Guest House', 'Villa Enata', 'Pousada Porto Praia',
       'Patel ni Motel', 'Hotel Xaguate', 'Hotel Zaraza',
       'Erlyn‚Äôs Sta Rosa City Home', 'JI Hotel Zhenjiang Railway Station',
       'IBCO REAL ESTATE PROPERTY', 'Northland Motor Hotel',
       'Pousada Porto De Canoas', "Benjie's Kubo & Cottages",
       'Bora-Bora Pearl Beach Resort & Spa', 'Ted McQuinn Trust',
       'Hotel La Joya Isla Mujeres',
       'Holiday Inn Express Roseville-St. Paul, an IHG Hotel',
       'Pousada dos Navegantes', 'Hotel Ponta Verde Macei√≥',
       'ÿ¥ŸáÿØÿßŸÜ. ÿßÿ®ŸàÿßŸÑÿ≠ÿ¨ÿ±', 'Leumerus Bungalows', 'Katsuura Hotel Mikazuki',
       'Swiss Belhotel Manokwari', 'Salinas Park Resort Ma√ßarico AP101',
       'Fengshui Residence', 'Changtan Tourism Resort',
       "Pike's Waterfront Lodge", "POUSADA TRAV√âS'CIA", 'Screensaver',
       'Matu Island', 'Quality Inn', 'International Lodge Motel',
       'Nova Inn Inuvik', 'SEGAYA PROPERTY',
       'Shell Hebei Shijiazhuang Luancheng Xinyuan Road Hotel',
       'Villa Mar Colina', 'Aldea del Bazar Hotel and Spa', 'NUR',
       'Hotel The Royal Honours', 'Courtyard by Marriott Carson City',
       'Nusa Island Retreat',
       'Embassy Suites by Hilton Portland Downtown', 'Tanna Lodge',
       'The Brig', 'Fangyuan Hotel', 'Maitai Lapita Village Huahine',
       'Hotel Grand Continental Kuala Terengganu (4 Star)',
       'Barravento Hotel', 'Aklavik Inn', 'Yuanping Xinghe Guesthouse',
       'Chenango Valley State Park', 'TazHostel', 'Guest Hotel', 'Masago',
       'Steve Walden and Emma Sison-Walden Residence', 'Villa Bella',
       'Le Monitel', 'Aspen Extended Stay Suites', 'Puri Brata',
       'ÿ¢Ÿæÿßÿ±ÿ™ŸÖÿßŸÜ ÿ®ÿ≤ÿ±⁄Ø ÿßŸà€åÿ≥ÿß',
       'Hampton Inn & Suites Edgewood/Aberdeen-South',
       'Hotel y restaurante "El Diamante"', 'Pondok Wisata Elim',
       'Xichang ibis Hotel', 'Piergiorgio Palace Hotel',
       'Hotel Manglares', 'Inubosaki Kanko Hotel', 'Sa Mansion By Yoho',
       'JABIR HOTEL', 'Maui Seaside Hotel', 'Grand Hotel Semey',
       'Astor Hotel', 'The Irish Village', 'Auberge Bon Coin 02',
       'Grage Hotel Bengkulu', 'ŸÅŸÜÿØŸÇ ÿßŸÑÿØŸàŸäŸÖ', 'Waigo Splash Hotel',
       'Hostal De Pedri', 'HOTEL 283 SUITES',
       'Hilton Garden Inn Jonesboro', 'ŸÖÿ≠ŸÖÿØ ŸáÿßÿØŸä ÿßŸÑ ŸÅÿ∑Ÿäÿ≠', 'Pension Oaoa',
       'El rranchito michuacan de ocampos', 'Real Hotel', 'Yos ega cv',
       'Kost Pria', 'Holiday Inn Express Lompoc, an IHG Hotel',
       'Yijie Express Hotel', 'Quinta Samay',
       "Marriott's Ko Olina Beach Club",
       'Best Western Plus Menomonie Inn & Suites', 'Mini Central',
       'Filipin Squad', 'Macs', 'Colpacaranda Eco Resort',
       'Hotel Ballast Wilmington, Tapestry Collection by Hilton',
       'Fakhamat Al Orjoana Apartment',
       'Westmark Fairbanks Hotel & Conference Center',
       'Iglesia morava renovada', 'Casa do Ianüòé', 'Lavanta Residence',
       'Yiranju Farmstay', 'Nitivos Beach Resort',
       'Hotel Posada San Jose', 'Sambor Village Hotel',
       "Hospedaria ndozi'ame",
       'Yantai Seaside International Youth Hostel', 'Hotel la Favorita',
       'Hotel Erik', 'Resort hotel Moana Coast', 'Gostinitsa "Kneda"',
       'Lingao Ditai Inn', 'Best Western Fallon Inn & Suites',
       'Business Inn Abe', 'Tahoe Lakeshore Lodge & Spa',
       'Hotel Kou-Bugny', 'Sibiryachka', 'Hotels in Lakshadweep Islands',
       'Lamana Hotel (Port Moresby)', 'Daru Lodge', 'Rabaul Hotel',
       'Nuli Sapi', 'Eware Refugio Amazonico',
       'Raybow International Hotel', 'Motel 6 Sinton, TX',
       'Seagulls Inn Namatani', 'Monserrate', 'Circuit House',
       'ibis Styles Mt Isa Verona', 'Royal Hotel', 'H√¥tel Salama',
       'Bonthe Holiday Village',
       'Hanting Express Wenling Wanchang North Road',
       'Imagination Island', "Esquivel's Garden And Resort",
       'Curubo Hotel', 'Mystic Sands Beachfront Accommodation',
       'Shangping Shuyuan Inn', '–•–ê–ù', 'Atl√¢ntic Hotel',
       'Golden Berries Hotel and Convention', 'Pousada do Luiz√£o',
       'Hotel Arena Blanca', 'Èî¶Ê±üÈÖíÂ∫ó', 'The Retreat at the Farm',
       'Jeevan Chhaya',
       'GreenTree Alliance Hulunbeier Zhalantun Railway Station Hotel',
       'Sokowindo Losmen', 'Days Inn & Suites by Wyndham Cochrane',
       'Cr√¥a Mares Hotel', 'Shishime Hotel', 'Legends Casino Hotel',
       'Aparna Hotel', 'Pousada e churrascaria Manguaba',
       'H√¥tel Le Lagon', 'Toyoko Inn Iwaki Ekimae', 'S√≠tio Blasi',
       'ÿ¥ÿ±⁄©ÿ™ ŸÖÿπŸÖÿßÿ±€å ŸÖŸáÿ±ÿßÿ≤ ÿ¥ÿß€å⁄ØÿßŸÜ ÿ¢ÿ±ÿßÿØ', 'Kh√°ch s·∫°n S√†i G√≤n B·∫°c Li√™u',
       'Mondkor Town, Bagbo Chiefdom, Bo District', 'Haji Hotel',
       'Orchid Main Camp Goubet', 'Auberge Timay Evasion',
       'Euronova Freezer', 'Hilton Garden Inn Bartlesville', 'Lidera',
       'LT Aparthotel', 'Arley',
       'Four Points by Sheraton Punta Gorda Harborside',
       'Pousada Monte Carmelo O P√£o', 'Tarum√£ Tropical Hotel',
       '–ê—Ö–º–∞–¥—ã–Ω –∞–º—Ä–∞–ª—Ç —Å—É–≤–∏–ª–∞–ª',
       'Salinas do Maragogi All Inclusive Resort', 'Companionship Hotel',
       'Hualian Hotel', 'Holiday Inn Express Walla Walla, an IHG Hotel',
       'Hotel Santika Palu', 'Oumou Elghoura', 'Khan Palace',
       'SULIMAN INN', 'Aktolik', 'Crowne Plaza Asuncion, an IHG Hotel',
       'Hotel Kununurra', 'ALETHEIA Appartement Sinnamary'], dtype=object)

In [39]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
12,Lorengau,PG,84.09,-2.0226,147.2712,Lorengau Harbourside Hotel
13,Tura,IN,81.43,25.5198,90.2201,Hotel RIKMAN Continental
15,Salalah,OM,82.49,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
16,Hamilton,US,79.99,39.1834,-84.5333,Six Acres Bed & Breakfast

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ¬∞F</dd>
</dl>
"""

In [44]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
info_box_template

'\n<dl>\n<dt>Hotel Name</dt><dd>{Hotel Name}</dd>\n<dt>City</dt><dd>{City}</dd>\n<dt>Country</dt><dd>{Country}</dd>\n<dt>Max Temp</dt><dd>{Max Temp} ¬∞F</dd>\n</dl>\n'

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))